<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h2>Registration</h2>
    <form th:action="@{/registeruser}" th:object="${user}" method="post">
        <label>Username: <input type="text" th:field="*{username}" required/></label><br/>
        <label>Password: <input type="password" th:field="*{password}" required/></label><br/>
        <button type="submit">Register</button>
    </form>
</body>
</html>
